/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/


# Archivos y directorios de caché de clj-kondo
.clj-kondo/
.lsp/
.lsp/.cache/
# Archivos de salida de Calva
.calva/output-window/

# Otros archivos y directorios temporales
*.log
*.tmp
*.bak